{% extends 'shared/_base.html' %}
{% load crispy_forms_tags %}
{% load addClass %}
{% block title %}
login
{% endblock %}
{% block content %}
<!-- section start -->
<section class="login-page section-b-space cmn_bg_yellow">
    <ul class="plus_decore">
        <li></li>
        <li></li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>ورود</h3>
                <div class="theme-card">
                    <form method="post" class="theme-form">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                            {{ field|addClass }}
                            </div>
                        {% endfor %}

{#                        <div class="form-group">#}
{#                            <label for="email">ایمیل</label>#}
{#                            <input type="text" class="form-control" id="email" placeholder="ایمیل" required="">#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <label for="review">رمزعبور</label>#}
{#                            <input type="password" class="form-control" id="review" placeholder="رمز عبور خود را وارد کنید" required="">#}
{#                        </div>#}
                        <button class="btn btn-solid" id="mc-submitsa" type="submit">اشتراک</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 right-login">
                <h3>مشتری جدید</h3>
                <div class="theme-card authentication-right">
                    <h6 class="title-font">ایجاد یک حساب کاربری</h6>
                    <p>ثبت نام برای یک حساب کاربری رایگان در فروشگاه ما. ثبت نام سریع و آسان است. این امکان را به شما می دهد تا بتوانید از فروشگاه ما سفارش دهید. برای شروع خرید ، روی ثبت نام کلیک کنید.</p>
                    <button class="btn btn-solid" id="mc-submita" type="submit">ایجاد یک حساب کاربری</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section End -->
{% endblock %}