{% extends 'shared/_base.html' %}
{% load addClass %}

{% block title %}
    signup
{% endblock %}
{% block content %}
    <!-- section start -->
    <section class="login-page  section-b-space cmn_bg_yellow">
        <ul class="plus_decore">
            <li></li>
            <li></li>
        </ul>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>ایجاد حساب</h3>
                    <div class="theme-card">
                        <form method="post" class="theme-form">
                            {% csrf_token %}
                            {{ form.errors }}
                            {% for feild in form %}
                                {{ feild.label }}
                                {{ feild|addClass }}
                            {% endfor %}
                            <button class="btn btn-solid" id="mc-submitsa" type="submit">عضویت</button>
                        </form>

                        {#                        <div class="form-row">#}
                        {#                            <div class="col-md-6">#}
                        {#                                <label for="email">نام اصلی</label>#}
                        {#                                <input type="text" class="form-control" id="fname" placeholder="نام اصلی" required="">#}
                        {#                            </div>#}
                        {#                            <div class="col-md-6">#}
                        {#                                <label for="review">نام خانوادگی</label>#}
                        {#                                <input type="password" class="form-control" id="lname" placeholder="نام خانوادگی" required="">#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                        <div class="form-row">#}
                        {#                            <div class="col-md-6">#}
                        {#                                <label for="email">ایمیل</label>#}
                        {#                                <input type="text" class="form-control" id="email" placeholder="ایمیل" required="">#}
                        {#                            </div>#}
                        {#                            <div class="col-md-6">#}
                        {#                                <label for="review">رمزعبور</label>#}
                        {#                                <input type="password" class="form-control" id="review" placeholder="رمز عبور خود را وارد کنید" required="">#}
                        {#                            </div>#}

                        {#                        </div>#}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section End -->
{% endblock %}