{% extends 'shared/_base.html' %}
{% load currency %}

{% block title %}
موفقیت ثبت سفارش
{% endblock %}
{% block content %}


<section class="section-b-space light-layout">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="success-text"><i class="fa fa-check-circle" aria-hidden="true"></i>
                    <h2>با سپاس از شما</h2>
                    <p>پرداخت با موفقیت انجام می شود و سفارش شما در راه است</p>
                    <p>شناسه تراکنش:267676GHERT105467</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->


{% endblock %}
