{% extends 'shared/_base.html' %}

{% block title %}
    Contactus
{% endblock %}

{% block content %}

    <!-- Contact-us Start -->
    <section class="contact-section cmn_bg">
        <ul class="plus_decore">
            <li></li>
            <li></li>
        </ul>
        <!-- leave comment sectopn starts-->
        <div class="comment_form contact_form contect_f">
            <div class="text-xl-left">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-4 contact_text">
                            <div class="angle angle-left"></div>
                            <h3 class="title">تماس با ما</h3>
                            <p>اگر سؤالی دارید ، فقط فرم تماس را پر کنید ، و ما به زودی به شما پاسخ خواهیم داد. اگر در
                                همین نزدیکی زندگی می کنید ، به یکی از دفاتر راحت ما بروید.</p>
                            <div class="contect_info">
                                <div class="contect-title">
                                    <h3 class="title">اطلاعات</h3>
                                </div>
                                <div class="contant-text">
                                    <ul>
                                        <li><i class="fa fa-map-marker" aria-hidden="true"></i>میدان آزادی، خیابان
                                            آزادی، تهران، ایران
                                        </li>
                                        <li><i class="fa fa-phone" aria-hidden="true"></i>تماس با ما: 123-456-7898</li>
                                        <li><i class="fa fa-envelope-o" aria-hidden="true"></i>ایمیل به ما:
                                            Support@test.com
                                        </li>
                                        <li><i class="fa fa-fax" aria-hidden="true"></i>فکس: 123456</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- leave comment section end-->
    </section>
    <!-- Contact-us zEnd -->
{% endblock %}