{% load currency %}
<div class="col-md-4 col-6 col-grid-box">
    <div class="product-box" data-aos="zoom-out">
        <div class="img-wrapper">
            <div class="front">
                <a href="{% url 'product-detail' slug=product.slug %}"><img src="{{ product.image.url }}" class="img-fluid" alt=""></a>

            </div>
        </div>
        <div class="product-detail">
            <div>

                <a href="{% url 'product-detail' slug=product.slug %}">
                    <h6 style="font-weight: 900;">{{ product.title }}</h6>
                </a>
                <p>{{ product.description|truncatechars:100 }}</p>
                <h4>{{ product.price|currency }}</h4>
                <a href="{% url 'product-detail' slug=product.slug %}" class="slider_btn theme_btn btn_5" style="display: block; width: 100%;margin-top: 10px;">دیدن محصول</a>
            </div>
        </div>
    </div>
</div>
