{% load currency %}

<div class="item">
    <div class="product-box">
        <div class="img-wrapper">
            <div class="front">
                <div class="slick-slid" style="max-width: 200px;">
                <a href="{% url 'product-detail' slug=product.slug %}"><img style="height: 274px;" src="{{ product.image.url }}"
                                                                            class="img-fluid" alt=""></a>
                                                                        </div>
            </div>
        </div>
        <div class="product-detail">
            
            <a href="{% url 'product-detail' slug=product.slug %}">
                <h6>{{ product.title }}<h6>
            </a>
            
            <h4>{{ product.price|currency }}</h4>
            <a href="{% url 'product-detail' slug=product.slug %}" class="slider_btn theme_btn btn_5" style="display: block; width: 100%;margin-top: 10px;">دیدن محصول</a>

        </div>
    </div>
</div>
