{% extends 'shared/_base.html' %}
{% block title %}
    محصولات
{% endblock %}
{% block content %}
    <section class="section-b-space cmn_bg_yellow shop_page">

        <ul class="plus_decore">
            <li></li>
            <li></li>
        </ul>

        <div class="collection-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 collection-filter">
                        
                        <!-- side-bar colleps block stat -->
                        <div class="collection-filter-block sidebar">
                            <!-- brand filter start -->
                            <div class="collection-mobile-back"><span class="filter-back"><i class="fa fa-angle-left"
                                                                                             aria-hidden="true"></i> بازگشت</span>
                            </div>
                            <div class="collection-collapse-block open">
                                <div class="theme-card hanger">

                                    <div class="collection-filter-block cat-block">
                                      <ul>
                                        {% for item in category %}
                                        <li>
                                          <a href="{% url 'product-categories-list' cat=item.title %}"
                                            ><i class="ti-brush-alt"></i>{{ item.title }}</a
                                          >
                                        </li>
                          
                                        {% endfor %}
                                      </ul>
                                    </div>
                                  </div>
                                <h3 class="collapse-block-title">برند</h3>
                                <div class="collection-collapse-block-content">
                                    <div class="collection-brand-filter">
                                            {% for brand in brands %}
                                        <div class="custom-control custom-checkbox collection-filter-checkbox">
                                            <a style="font-size: 12px;color: #3e3e3e;
                                            font-weight: 500;
                                            letter-spacing: 0px;" href="{% url 'product-brand-list' brand=brand.title %}" name="brandcheckbox" id="brand{{ brand.id }}">{{brand.title}}</a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <!-- price filter start here -->
                            <div class="collection-collapse-block border-0 open">
                                <h3 class="collapse-block-title">قیمت</h3>
                                <div class="collection-collapse-block-content">
                                    <div class="collection-brand-filter" style="margin-top: 30px;">
                                        <div id="price-slider"></div>
                                        <span id="price-range"></span> 
                                    </div>
                                </div>
                            </div>
                            <!-- side-bar single product slider start -->
                            <div class="theme-card">
                                <h5 class="title-border">محصول جدید</h5>
                                <div class="offer-slider slide-1">
                                    <div>
                                        {% for product in new_product %}

                  {% include 'product_module/include/product_small_item.html' %} 

                  {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!-- side-bar single product slider end -->
                        </div>
                        
                        <!-- side-bar banner end here -->
                    </div>
                    <div class="collection-content col">
                        <div class="page-main-content">
                            <div class="row">
                                <div class="col-sm-12">
                                    
                                    <div class="collection-product-wrapper">
                                        <div class="product-top-filter">
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <div class="filter-main-btn"><span class="filter-btn btn btn-theme"><i
                                                            class="fa fa-filter" aria-hidden="true"></i> فیلتر</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="product-filter-content">
                                                        <div class="search-count">
                                                            <h5>تعداد کل محصولات : {{product_count}}</h5>
                                                        </div>
                                                        <div class="product-page-per-view">
                                                            <form method="get">
                                                                {{ ProductPerPageForm.items_per_page }}
                                                            </form>
                                                        </div>
                                                        <div class="product-page-filter">
                                                            <form method="get">
                                                                {{ SortingForm.sorting_option }}
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-wrapper-grid">
                                            <div id="productList" class="row">
                                                {% for product in product_list %}
                                                    {% include 'product_module/include/product_item.html' %}
                                                {% endfor %}

                                            </div>
                                        </div>

                                        <!-- pagination Start -->
                                        <div class="pagination_sec">
                                            <div class="content_detail__pagination cdp">
                                                {% if page_obj.has_previous %}
                                                {% if request.GET.min_price %}
                                                <a href="?min_price={{ request.GET.min_price }}&max_price={{ request.GET.max_price }}&page={{ page_obj.previous_page_number }}" class="cdp_i">بعدی<i class="fa fa-angle-double-right"
                                                    aria-hidden="true"></i></a>                                          {% else %}
                                    <!-- <li><a onclick="fillPage({{ page_obj.previous_page_number }})">«</a></li> -->
                                    <a href="?page={{page_obj.previous_page_number}}" class="cdp_i"><i class="fa fa-angle-double-left"
                                        aria-hidden="true"></i>قبلی</a>
                                {% endif %}
                                {% endif %}
                                            {% for pageNumber in paginator.page_range %}
                                            {% if request.GET.min_price %}
                                            <a href="?min_price={{ request.GET.min_price }}&max_price={{ request.GET.max_price }}&page={{ pageNumber }}" class="cdp_i">{{ pageNumber }}</a>
                                          {% else %}
                                            <a href="?page={{ pageNumber }}" class="cdp_i">{{ pageNumber }}</a>
                                          {% endif %}
                                                <!-- <a href="?page={{ pageNumber }}" class="cdp_i">{{ pageNumber }}</a> -->
                                                {% endfor %}

                                                {% if page_obj.has_next %}
                                                {% if request.GET.min_price %}
                                                <a href="?min_price={{ request.GET.min_price }}&max_price={{ request.GET.max_price }}&page={{ page_obj.next_page_number }}" class="cdp_i">بعدی<i class="fa fa-angle-double-right"
                                                    aria-hidden="true"></i></a>                                          {% else %}
                                    <!-- <li><a onclick="fillPage({{ page_obj.next_page_number }})">&raquo;</a></li> -->
                                    <a href="?page={{ page_obj.next_page_number }}" class="cdp_i">بعدی<i class="fa fa-angle-double-right"
                                        aria-hidden="true"></i></a>
                                {% endif %}
                                {% endif %}
                                                
                                            </div>
                                        </div>
                                        <!-- pagination End -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        var maxPrice = {{ max_price }};
      </script>
    <!-- section End -->
{% endblock %}