<!-- js file -->
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>  
<!-- zoom js file -->
<script src="/static/js/jquery.magnific-popup.js"></script>

<!-- popper js file -->
<script src="/static/js/popper.min.js"></script>

<!-- bootstrap js file -->
<script src="/static/js/bootstrap.min.js"></script>

<!-- Owl carousel js file-->
<script src="/static/js/owl.carousel.min.js"></script>

<!-- menu js-->
<script src="/static/js/menu.js"></script>

<!-- Lazy Loader js file-->
<script src="/static/js/lazysizes.min.js"></script>

<!-- Counter Js File -->
<script src="/static/js/jquery.counterup.min.js"></script>
<script src="/static/js/jquery.waypoints.min.js"></script>

<!-- slick js-->
<script src="/static/js/slick.js"></script>

<!-- AOS js file-->
<script src="/static/js/aos.js"></script>

<!-- script js file -->
<script src="/static/js/script.js"></script>

<!-- ecommerce js file -->
<script src="/static/js/ecommerce.js"></script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script src="/static/js/custom.js"></script>
<script src="om-javascript-range-slider.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.js"></script>
