<!-- js file -->
<script src="/static/js/jquery-3.3.1.min.js"></script>

<!-- zoom js file -->
<script src="/static/js/jquery.magnific-popup.js"></script>

<!-- popper js file -->
<script src="/static/js/popper.min.js"></script>

<!-- bootstrap js file -->
<script src="/static/js/bootstrap.min.js"></script>

<!-- Owl carousel js file-->
<script src="/static/js/owl.carousel.min.js"></script>

<!-- menu js-->
<script src="/static/js/menu.js"></script>

<!-- Lazy Loader js file-->
<script src="/static/js/lazysizes.min.js"></script>

<!-- Counter Js File -->
<script src="/static/js/jquery.counterup.min.js"></script>
<script src="/static/js/jquery.waypoints.min.js"></script>

<!-- slick js-->
<script src="/static/js/slick.js"></script>

<!-- AOS js file-->
<script src="/static/js/aos.js"></script>

<!-- script js file -->
<script src="/static/js/script.js"></script>

<!-- ecommerce js file -->
<script src="/static/js/ecommerce.js"></script>
<script src="/static/js/custom.js"></script>