<!--Top-Section-->
<div class="top-contact top-header commerce-layout">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-none d-md-block">
                <ul class="top-header-left">
                    <li>به فروشگاه ما خوش آمدید</li>
                    <li><a href="#"> 50٪ تخفیف اضافی برای همه کاربران جدید</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-6">
                <ul class="top-header-right">
                    <li><a href="shopping-wishlist.html">علاقه مندی ها</a></li>
                    <li>
                        <a href="#" id="dropdownMenuButton" data-toggle="dropdown">
                            انگ <i class="fa fa-angle-down"></i>
                        </a>
                        <div class="dropdown-menu default-dropdown" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">آرا</a>
                            <a class="dropdown-item" href="#">فرا</a>
                            <a class="dropdown-item" href="#">آلم</a>
                        </div>
                    </li>
                    <li>
                        <a href="#" id="dropdownMenuButton1" data-toggle="dropdown">
                            دلار <i class="fa fa-angle-down"></i>
                        </a>
                        <div class="dropdown-menu default-dropdown" aria-labelledby="dropdownMenuButton1">
                            <a class="dropdown-item" href="#">INR</a>
                            <a class="dropdown-item" href="#">GBP</a>
                            <a class="dropdown-item" href="#">EUR</a>
                        </div>
                    </li>
                    <li><a href="#"> حساب من</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--End-Top-Section-->