<!--Top-Section-->
<div class="top-contact top-header commerce-layout">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-none d-md-block">
                <ul class="top-header-left">
                    <li>به فروشگاه ما خوش آمدید</li>
                    <li><a href="#"> 50٪ تخفیف اضافی برای همه کاربران جدید</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
<!--End-Top-Section-->
<div class="main-header">

    <!-- Logo & Btn Section Start -->
    <div class="mid-header">
        <div class="container">
            <div class="row">
                <div class=" col-3">
                    <a href="ecommerce.html" class="brand-logo"><img src="/static/images/ecommerce/logo.png" alt="logo"></a>
                </div>
                <div class="col-9">
                    <div class="nav-section">
                        <nav id="main-nav">
                            <div class="toggle-nav">
                                <i class="fa fa-bars sidebar-bar"></i>
                            </div>
                            <ul id="main-menu" class="sm pixelstrap sm-horizontal">
                                <li>
                                    <div class="mobile-back text-right">بازگشت<i class="fa fa-angle-right pl-2"
                                                                                 aria-hidden="true"></i></div>
                                </li>
                                <li>
                                    <a href="{% url 'homePage' %}">خانه</a>
                                </li>
                                <li>
                                    <a href="{% url 'products-list' %}">فروشگاه</a>
                                </li>
                                <li>
                                    <a href="{% url 'blogs-list-view' %}">وبلاگ</a>
                                </li>
                                <li>
                                    <a href="{% url 'contactus_view' %}">تماس با ما</a>
                                </li>
                                <li>
                                    <a href="{% url 'aboutus_view' %}">درباره ما</a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                    <div class="cart-box">
                        <i class="ti-shopping-cart-full"></i>
                        <div class="logo_content">
                            <h5 class="title">سبد خرید</h5>
                            <h6>2 عدد - 200 تومان</h6>
                        </div>
                        <ul class="shopping-cart">
                            <li>
                                <div class="media">
                                    <a href="#"><img class="mr-3" src="/static/images/ecommerce/Product/1.jpg"
                                                     alt="تصویر عمومی"></a>
                                    <div class="media-body">
                                        <a href="#">
                                            <h5>نام آیتم</h5>
                                        </a>
                                        <h5><span>1 × 10000 تومان</span></h5>
                                    </div>
                                </div>
                                <div class="close-circle"><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <a href="#"><img class="mr-3" src="/static/images/ecommerce/Product/2.jpg"
                                                     alt="تصویر عمومی"></a>
                                    <div class="media-body">
                                        <a href="#">
                                            <h5>نام آیتم</h5>
                                        </a>
                                        <h5><span>1 × 10000 تومان</span></h5>
                                    </div>
                                </div>
                                <div class="close-circle"><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="total">
                                    <h5>جمع جزء : <span>20000 تومان</span></h5>
                                </div>
                            </li>
                            <li>
                                <div class="buttons"><a href="shopping-cart.html" class="view-cart">سبد خرید</a> <a
                                        href="#" class="checkout">پرداخت</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Logo & Btn Section End -->

    <div class="bottom-header">
        <div class="container">
            <div class="row">
                <div class="col-md-3 ecommerce-sidebar set-order-2">
                    <button class="btn btn-block btn_inverse toggle-btn">
                        <i class="fa fa-bars"></i>فروشگاه بر اساس طبقه بندی
                    </button>
                </div>
                <div class="col-md-8 set-order-1">
                    <form class="ecommerce-from">
                        <div class="input-group">
                            <input type="text" class="form-control" aria-label="مبلغ (به نزدیکترین دلار)"
                                   placeholder="جستجو محصولات......">
                            <div class="input-group-append selective">
                                <select name="collection" id="collection-option" data-option="collection-option"
                                        class="single-option-selector">
                                    <option value="all">تمام مجموعه</option>
                                    <option value="cleaner">پاک کننده</option>
                                    <option value="electronics">التکرونیکی</option>
                                    <option value="fashion">مد روز</option>
                                    <option value="grocery">خواربار</option>
                                    <option value="plumbing">لوله کشی</option>
                                    <option value="sports">ورزشی</option>
                                    <option value="tools">ابزارها</option>
                                </select>
                            </div>
                            <div class="input-group-append">
                                <a class="btn btn_inverse" href="#"> جستجو <i class="fa fa-search"
                                                                              aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </form>


                </div>
                <div class="col-md-1" >
                    {% if request.user.is_authenticated %}
                        <a class="btn btn_white" href="{% url 'account_logout' %}"><i class="fa fa-user-o"></i> خوش امدید {{ user }} </a>

                        {% else %}
                        <a class="btn btn_white" href="{% url 'account_login' %}"><i class="fa fa-user-o"></i> ورود </a>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>