<!--Top-Section-->
<div class="top-contact top-header commerce-layout">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-none d-md-block">
                <ul class="top-header-left">
                    <li>به فروشگاه ما خوش آمدید</li>
                    <li><a href="#"> 50٪ تخفیف اضافی برای همه کاربران جدید</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-6">
                <ul class="top-header-right">
                    <li><a href="shopping-wishlist.html">علاقه مندی ها</a></li>
                    <li>
                        <a href="#" id="dropdownMenuButton" data-toggle="dropdown">
                            انگ <i class="fa fa-angle-down"></i>
                        </a>
                        <div class="dropdown-menu default-dropdown" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">آرا</a>
                            <a class="dropdown-item" href="#">فرا</a>
                            <a class="dropdown-item" href="#">آلم</a>
                        </div>
                    </li>
                    <li>
                        <a href="#" id="dropdownMenuButton1" data-toggle="dropdown">
                            دلار <i class="fa fa-angle-down"></i>
                        </a>
                        <div class="dropdown-menu default-dropdown" aria-labelledby="dropdownMenuButton1">
                            <a class="dropdown-item" href="#">INR</a>
                            <a class="dropdown-item" href="#">GBP</a>
                            <a class="dropdown-item" href="#">EUR</a>
                        </div>
                    </li>
                    <li><a href="#"> حساب من</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--End-Top-Section-->
<div class="main-header">

        <!-- Logo & Btn Section Start -->
        <div class="mid-header">
            <div class="container">
                <div class="row">
                    <div class=" col-3">
                        <a href="ecommerce.html" class="brand-logo"><img src="/static/images/ecommerce/logo.png" alt="logo"></a>
                    </div>
                    <div class="col-9">
                        <div class="nav-section">
                            <nav id="main-nav">
                                <div class="toggle-nav">
                                    <i class="fa fa-bars sidebar-bar"></i>
                                </div>
                                <ul id="main-menu" class="sm pixelstrap sm-horizontal">
                                    <li>
                                        <div class="mobile-back text-right">بازگشت<i class="fa fa-angle-right pl-2" aria-hidden="true"></i></div>
                                    </li>
                                    <li>
                                        <a href="#">خانه</a>
                                        <ul>
                                            <li class="nav-item"><a class="nav-link" href="ecommerce.html">فروشگاه</a></li>
                                            <li class="nav-item"><a class="nav-link" href="vector.html">وکتور</a></li>
                                            <li class="nav-item"><a class="nav-link" href="contraction.html">ساخت و ساز</a></li>
                                            <li class="nav-item"><a class="nav-link" href="education.html">آموزشی</a></li>
                                            <li class="nav-item"><a class="nav-link" href="plumbing.html">لوله کشی</a></li>
                                            <li class="nav-item"><a class="nav-link" href="solar.html">خورشیدی</a></li>
                                            <li class="nav-item"><a class="nav-link" href="cleaning.html">نظافت</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">فروشگاه</a>
                                        <ul>
                                            <li class="nav-item"><a class="nav-link" href="shop-page.html">صفحه فروشگاه</a></li>
                                            <li class="nav-item"><a class="nav-link" href="product-page.html">صفحه محصول</a></li>
                                            <li class="nav-item"><a class="nav-link" href="shopping-cart.html">سبد خرید</a></li>
                                            <li class="nav-item"><a class="nav-link" href="shopping-wishlist.html">لیست علاقه مندی ها</a></li>
                                            <li class="nav-item"><a class="nav-link" href="order-success.html">موفقیت سفارش</a></li>
                                            <li class="nav-item"><a class="nav-link" href="checkout.html">پرداخت</a></li>
                                            <li class="nav-item"><a class="nav-link" href="register.html">ثبت نام</a></li>
                                            <li class="nav-item"><a class="nav-link" href="login.html">ورود</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">صفحات</a>
                                        <ul>
                                            <li class="nav-item"><a class="nav-link" href="about-us.html">درباره</a></li>
                                            <li class="nav-item"><a class="nav-link" href="our-service.html">خدمات</a></li>
                                            <li class="nav-item"><a class="nav-link" href="our-team.html">تیم</a></li>
                                            <li class="nav-item"><a class="nav-link" href="contact-us.html">تماس با ما</a></li>
                                            <li class="nav-item"><a class="nav-link" href="404-page.html">صفحه 404</a></li>
                                            <li class="nav-item"><a class="nav-link" href="cooming-soon.html">به زودی</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">وبلاگ</a>
                                        <ul>
                                            <li class="nav-item"><a class="nav-link" href="blog.html">وبلاگ لیستی</a></li>
                                            <li class="nav-item"><a class="nav-link" href="blog-details.html">جزئیات وبلاگ</a></li>
                                            <li class="nav-item"><a class="nav-link" href="blogs-leftside.html">نوارکناری چپ</a></li>
                                            <li class="nav-item"><a class="nav-link" href="blogs-rightside.html">نوارکناری راست</a></li>
                                            <li class="nav-item"><a class="nav-link" href="blog-details-left-sidebar.html">جزئیات با نوارکناری چپ</a></li>
                                            <li class="nav-item"><a class="nav-link" href="blog-details-right-sidebar.html">جزئیات با نوارکناری راست</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">نمونه کار</a>
                                        <ul>
                                            <li class="nav-item"><a class="nav-link" href="single-portfolio.html">نمونه کار تنها</a></li>
                                            <li class="nav-item"><a class="nav-link" href="portfolio-3-grid.html">نمونه کار - 3 - گرید</a></li>
                                            <li class="nav-item"><a class="nav-link" href="portfolio-4-grid.html">نمونه کار - 4 - گرید</a></li>
                                            <li class="nav-item"><a class="nav-link" href="masonary-3-grid.html">مسونری - 3 - گرید</a></li>
                                            <li class="nav-item"><a class="nav-link" href="masonary-4-grid.html">مسونری - 4 - گرید</a></li>
                                            <li class="nav-item"><a class="nav-link" href="masonary-fullwidth.html">مسونری - تمام عرض</a></li>
                                        </ul>
                                    </li>
                                    <li class="mega" >
                                        <a href="#">منوی مگا</a>
                                        <ul class="mega-menu full-mega-menu">
                                            <li>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-xl-3 ">
                                                            <div class="link-section">
                                                                <div class="menu-title">
                                                                    <h5>ابزار قدرت</h5>
                                                                </div>
                                                                <div class="menu-content">
                                                                    <ul>
                                                                        <li><a href="javascript:void(0)">دستگاه های حکاکی</a></li>
                                                                        <li><a href="javascript:void(0)">دریل</a></li>
                                                                        <li><a href="javascript:void(0)">آچار</a></li>
                                                                        <li><a href="javascript:void(0)">لوله کشی</a></li>
                                                                        <li><a href="javascript:void(0)">دیوار چاسر</a></li>
                                                                        <li><a href="javascript:void(0)">ابزار پنوماتیک</a></li>
                                                                        <li><a href="javascript:void(0)">برش فرز</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 ">
                                                            <div class="link-section">
                                                                <div class="menu-title">
                                                                    <h5>ابزار دستی</h5>
                                                                </div>
                                                                <div class="menu-content">
                                                                    <ul>
                                                                        <li><a href="javascript:void(0)">پیچ گوشتی</a></li>
                                                                        <li><a href="javascript:void(0)">اره دستی </a></li>
                                                                        <li><a href="javascript:void(0)">چاقوها</a></li>
                                                                        <li><a href="javascript:void(0)">محورها</a></li>
                                                                        <li><a href="javascript:void(0)">چند ابزار</a></li>
                                                                        <li><a href="javascript:void(0)">ابزارهای نقاشی</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3">
                                                            <div class="link-section">
                                                                <div class="menu-title">
                                                                    <h5>ابزارهای ماشینی</h5>
                                                                </div>
                                                                <div class="menu-content">
                                                                    <ul>
                                                                        <li><a href="javascript:void(0)">برش رزوه</a></li>
                                                                        <li><a href="javascript:void(0)">بلورس تراشه</a></li>
                                                                        <li><a href="javascript:void(0)">ماشین آلات سنگ زنی</a></li>
                                                                        <li><a href="javascript:void(0)">برش لوله</a></li>
                                                                        <li><a href="javascript:void(0)">ماشین آلات شکسته</a></li>
                                                                        <li><a href="javascript:void(0)">ماشین تراش</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3">
                                                            <div class="link-section">
                                                                <div class="menu-title">
                                                                    <h5>تجهیزات باغبانی</h5>
                                                                </div>
                                                                <div class="menu-content">
                                                                    <ul>
                                                                        <li class="up-text"><a href="javascript:void(0)">پمپ های موتور</a></li>
                                                                        <li><a href="javascript:void(0)">اره برقی</a></li>
                                                                        <li><a href="javascript:void(0)">اره الکتریکی</a></li>
                                                                        <li><a href="javascript:void(0)">برش قلم مو</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="cart-box">
                            <i class="ti-shopping-cart-full"></i>
                            <div class="logo_content">
                                <h5 class="title">سبد خرید</h5>
                                <h6>2 عدد - 200 تومان</h6>
                            </div>
                            <ul class="shopping-cart">
                                <li>
                                    <div class="media">
                                        <a href="#"><img class="mr-3" src="/static/images/ecommerce/Product/1.jpg" alt="تصویر عمومی"></a>
                                        <div class="media-body">
                                            <a href="#">
                                                <h5>نام آیتم</h5>
                                            </a>
                                            <h5><span>1 × 10000 تومان</span></h5>
                                        </div>
                                    </div>
                                    <div class="close-circle"><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div>
                                </li>
                                <li>
                                    <div class="media">
                                        <a href="#"><img class="mr-3" src="/static/images/ecommerce/Product/2.jpg" alt="تصویر عمومی"></a>
                                        <div class="media-body">
                                            <a href="#">
                                                <h5>نام آیتم</h5>
                                            </a>
                                            <h5><span>1 × 10000 تومان</span></h5>
                                        </div>
                                    </div>
                                    <div class="close-circle"><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div>
                                </li>
                                <li>
                                    <div class="total">
                                        <h5>جمع جزء : <span>20000 تومان</span></h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="buttons"><a href="shopping-cart.html" class="view-cart">سبد خرید</a> <a href="#" class="checkout">پرداخت</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Logo & Btn Section End -->

        <div class="bottom-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 ecommerce-sidebar set-order-2">
                        <button class="btn btn-block btn_inverse toggle-btn">
                            <i class="fa fa-bars"></i>فروشگاه بر اساس طبقه بندی
                        </button>
                    </div>
                    <div class="col-md-9 set-order-1">
                        <form class="ecommerce-from">
                            <div class="input-group">
                                <input type="text" class="form-control" aria-label="مبلغ (به نزدیکترین دلار)" placeholder="جستجو محصولات......">
                                <div class="input-group-append selective">
                                    <select name="collection" id="collection-option" data-option="collection-option" class="single-option-selector">
                                        <option value="all">تمام مجموعه</option>
                                        <option value="cleaner">پاک کننده</option>
                                        <option value="electronics">التکرونیکی</option>
                                        <option value="fashion">مد روز</option>
                                        <option value="grocery">خواربار</option>
                                        <option value="plumbing">لوله کشی</option>
                                        <option value="sports">ورزشی</option>
                                        <option value="tools">ابزارها</option>
                                    </select>
                                </div>
                                <div class="input-group-append">
                                    <a class="btn btn_inverse" href="#"> جستجو <i class="fa fa-search" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </form>
                        <a class="btn btn_white" href="login.html"><i class="fa fa-user-o"></i> ورود </a>
                    </div>
                </div>
            </div>
        </div>
    </div>